


/****************User Profile  *********************/
.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}
    
.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}
.toppad{
	margin-top:20px;
}


@media only screen and (max-width: 800px) {
    
    /* Force table to not be like tables anymore */
    #no-more-tables table, 
    #no-more-tables thead, 
    #no-more-tables tbody, 
    #no-more-tables th, 
    #no-more-tables td, 
    #no-more-tables tr { 
        display: block; 
    }
 
    /* Hide table headers (but not display: none;, for accessibility) */
    #no-more-tables thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
 
    #no-more-tables tr { border: 1px solid #ccc; }
 
    #no-more-tables td { 
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee; 
        position: relative;
        padding-left: 50%; 
        white-space: normal;
        text-align:left;
    }
 
    #no-more-tables td:before { 
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
    }
 
    /*
    Label the data
    */
    #no-more-tables td:before { content: attr(data-title); }
}   


/*KURZ info*/

.kurz-info-li{
    display: inline-flex;
}

.kurz-info-ul       {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    padding-left: 0;
}

.d-i-flex{
    display: inline-flex;
}

.price{
    font-size: 16px !important;
    margin-bottom: 10px;
    display: inline-block !important;
}

.course:hover, .post:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.13);
    border-radius: 5px;
}


ul.course-lesson-list{
    list-style: none;
}
    
.image > a > img{
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.post{
    padding-right: 10px;
    padding-left: 10px;
    /*margin: 3px;*/
}